$colores: (
color-position: rgb(0, 153, 255),
color-fondonavfoot:rgb(156, 156, 156),
color-active: rgb(207, 207, 207),
color-titulos: grey,
color-bordes: rgb(104, 106, 107),
color-lista: white,
color-boton: gray,
);

$boxshadow-galeria: 0 0 20px 2px rgba(27, 27, 27, 0.5);
$title-font: 80px;
$vista: pc;